.main {
   position: relative;
}
.main-screen {
   padding: 32px 0 101px;
   position: relative;
   &__bg {
      top: 0;
      left: 0;
      width: 100%;
      margin-top: 32px;
      position: absolute;
      pointer-events: none;
      & img {
      }
   }
   &__container {
   }

   &__content {
      display: grid;
      grid-template-columns: 360px 1fr;
      row-gap: 159px;
   }

   &__about {
   }

   &__title {
      font-family: $second-font;
      font-weight: 700;
      font-size: 55px;
      line-height: 100%;
      color: #000000;
   }
   &__icon-link{
     margin-right: 30px; 
   }
   &__link-box {
   }

   &__links {
   }

   &__links-item {
      margin-bottom: 32px;
      &:last-child {
         margin-bottom: 0;
      }
   }

   &__link {
      display: flex;
      align-items: center;
      justify-content: start;
      & span:before {
         font-size: 48px;
         margin-right: 30px;
      }
      & span:last-child {
         text-decoration: underline;
      }
      &:hover {
         & span:last-child {
            text-decoration: none;
         }
      }
   }

   &__product {
      grid-row-start: span 2;
   }
}

.product {
   &__slider {
      display: flex;
      flex-direction: column;
      align-items: center;
   }

   &__slider-wrapper {
      width: 780px;
   }

   &__slider-inner {
   }

   &__slide {
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;
      
   }
   &__before {
      left: -20%;
      top: -5%;
      z-index: -1;
      position: absolute;
   }
   &__after {
      right: 2%;
      top: -12%;
      z-index: -1;
      position: absolute;
   }
   &__slider-btns {
      user-select: none;

      color: $main-link-color;
      display: flex;
      justify-content: center;   
      margin-bottom: 31px;   
   }

   &__slider-prev {
      cursor: pointer;
      margin-right: 30px;
      font-size: 68px;
      transition: all 0.3s;

      &:hover {
         opacity: 0.7;
      }
   }

   &__slider-next {
      font-size: 68px;
      cursor: pointer;
      transition: all 0.3s;
      & span {
      }
      &:hover {
         opacity: 0.7;
      }
   }

   &__where {

   }

   &__where-link {
      border: 1px solid #FFFFFF;
      border-radius: 33.5px;
      font-size: 18px;
      line-height: 67px;
      display: inline-block;
      height: 67px;
      text-align: center;
      color: #FFFFFF;
      background: $main-link-color;
      padding: 0 80px;
      transition: all 0.3s;
      &:hover {
         opacity: 0.7;
      }
   }
}

.product__img-main {
   position: absolute;
   bottom: -10%;
   left: 0;
}