@import '_nullstyle.scss';

@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@700&family=Roboto:wght@300;400&display=swap');

$main-font:'Roboto', sans-serif;
$second-font: 'Merriweather', serif;
$main-link-color: #590D56;

@import '_header.scss';
@import '_navigation.scss';
@import '_main-section.scss';
@import '_marquee.scss';
@import '_footer.scss';

html, body {
   height: 100%;
   font-family: $main-font;
}
.wrapper {
   display: flex;
   flex-direction: column;   
   min-height: 100%;
}
.header {   
   &__container {
   }
}
.container {
   max-width: 1180px;
   margin: 0 auto;
   padding: 0 20px;
}
.main {
   flex: 1 1 auto;
   padding-top: 100px;
   &__container {
   }
}
.footer {

   &__container {
   }
}

li {
   color: #000;
}

.link {
   font-size: 18px;
   line-height: 21px;
   color: $main-link-color;
}
