@import '_nullstyle.scss';
@import '_header.scss';
@import '_navigation.scss';
@import '_footer.scss';

html, body {
   height: 100%;
}
.wrapper {
   display: flex;
   flex-direction: column;   
   min-height: 100%;
}
.header {   
   position: relative;

   &__container {
   }
}
.container {
   max-width: 1180px;
   margin: 0 auto;
   padding: 0 20px;
}
.main {
   flex: 1 1 auto;
   &__container {
   }
}
.footer {

   &__container {
   }
}

li {
   color: #000;
}
