@import '_nullstyle.scss';

@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@700&family=Roboto:wght@300;400&display=swap');

// Variables

$main-font:'Roboto', sans-serif;
$second-font: 'Merriweather', serif;
$main-link-color: #590D56;

// Main styles

.title {
   font-family: $second-font;
   font-weight: 700;
   font-size: 30px;
   line-height: 120%;
   color: #000000;
}

.subtitle {
   font-weight: 400;
   font-size: 16px;
   line-height: 154.8%;
   color: #777777;
}

.link {
   font-size: 18px;
   line-height: 21px;
   color: $main-link-color;
   text-decoration: underline;
}

.lock {
   overflow: hidden;
}

html, body {
   height: 100%;
   font-family: $main-font;
}
.wrapper {
   display: flex;
   flex-direction: column;   
   min-height: 100%;
   scroll-behavior: smooth;
}

.container {
   max-width: 1180px;
   margin: 0 auto;
   padding: 0 20px;
}
.main {
   flex: 1 1 auto;
   padding-top: 100px;
   &__container {
   }
}

li {
   color: #000;
}



// Imported styles

@import '_header.scss';
@import '_navigation.scss';
@import '_main-section.scss';
@import '_marquee.scss';
@import '_about.scss';
@import '_descr.scss';

@import '_purchase.scss';
@import '_footer.scss';



